@import url("https://use.typekit.net/jmk3xov.css");

#effectID {
  position: fixed;
  top: 50px;
  left: 350px;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: black;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: 700;
  font-style: normal;
}


  header {
    grid-column: 2 / span 5;
    font-size: 25px;
    padding: 2rem;
    margin-bottom: var(--spacing);
    margin-top: 85px;
    margin-left: 75px;
    font-family: "Lucida Console", "Courier Prime", monospace;
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
    color: black;
    background-color: white;
  }

  .picture {
    grid-column: 2 / 8;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 35px;
    display: inline;
    line-height: 1;
  }

  .right {
    grid-column: 6 / 12;
  }

  a {
    text-decoration: none;
    color:black;
  }

  h1 a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: powderblue;
  }

  .story {
    margin-top: 250px;
  }

  @media (max-width: 480px) {
    

    #effectID {
      grid-column: 1/3;
      top: 50px;
      margin-left: 0;
    }

    header {
      margin-left: 5px;
    }
  }

 